@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&family=Tilt+Neon&display=swap");
html {
  background-color: #79ac78;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background: transparent;
  color: inherit;
  font-size: 1.4em;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  transform: translateX(-70%);
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #edf1d6;
  background-color: #79ac78;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #862b0d;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: #862b0d;
  transition: 0.1s all ease;
}

#navbar {
  color: #79ac78;
  height: 4em;
  position: fixed;
  top: 0;
  background-color: transparent;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 10px 30px 10px 50px;
  transition: 1s all ease-in;
}

#navbar.scrolled {
  margin-bottom: 4em;
  background-color: #79ac78;
  color: #edf1d6;
}
#brand-name {
  flex-basis: 100%;
  font-size: 1.5em;
  font-weight: 500;
}

#nav-book-stay {
  flex-basis: 40%;
  font-size: 1.15em;
  text-decoration: underline;
  text-underline-offset: 6px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.sec1-background {
  filter: brightness(50%);
  background-image: url("images/bg1.jpg");
  background-color: #79ac78;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  transition: all 5s;
  aspect-ratio: 16/9;

  animation-name: animate;
  animation-direction: alternate-reverse;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}

@keyframes aniamte {
  0% {
    background-image: url("images/bg1.jpg");
  }
  25% {
    background-image: url("images/bg2.jpg");
  }
  50% {
    background-image: url("images/bg3.jpg");
  }
  75% {
    background-image: url("images/bg4.jpg");
  }
  100% {
    background-image: url("images/bg5.jpg");
  }
}

.sec2 {
  color: #edf1d6;
  margin: 6em 0em 2em 0em;
  height: 140vh;
  min-width: 30vh;
  background-color: #79ac78;
  width: 95%;
  overflow: hidden;
  display: flex;
}

.sec2 .info {
  width: 70%;
}

.sec2 .side-image {
  filter: brightness(50%);
  left: -200px;
  position: absolute;
  width: 400px;
  height: 600px;
}
.sec2 .heading-info {
  margin-left: 10em;
  font-size: 1.3em;
  text-decoration: underline;
  text-underline-offset: 6px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.sec2 p {
  margin-left: 15em;
  padding: 0.8em 0.2em 0.5em 0;
  font-size: 1.08em;
  font-weight: 200;
}
.sec2 .info-images {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sec2 .info-images img#img1 {
  filter: brightness(70%);
  width: 300px;
  height: 400px;
  padding: 20px 0 10px 5px;
}
.sec2 .info-images img#img2 {
  filter: brightness(80%);
  width: 400px;
  height: 300px;
  padding: 20px 0 5px 5px;
  margin-left: 70px;
}

.sec3 {
  margin-top: 8em;
  display: flex;
  padding: 0.5em 1.5em;
  min-height: 100vh;
  color: #edf1d6;
}
.sec3 div:not(.slides, .naviagtion, .img-date, .date-person) {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.sec3 h2 {
  font-size: 1.15em;
  text-decoration: underline;
  text-underline-offset: 6px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 1.5em;
  padding: 0 1.5em 0em 0.25em;
}
.sec3 p {
  padding: 0em 1em 0.5em 0.25em;
  font-size: 1.08em;
  font-weight: 200;
}
.sec3 button {
  font-size: 1.2em;
  background-color: #79ac78;
  border: #edf1d6 3px solid;
  border-radius: 8px;
  padding: 3px 5px;
  color: #edf1d6;
  cursor: pointer;
  margin: 10px auto;
}
.sec3 button:hover {
  background-color: #862b0d;
  border-color: #862b0d;
}
.hidden {
  opacity: 0;
  transform: translateX(-100%);
  filter: blur(5px);
  transition: all 2s ease-in-out;
}
.hidden2 {
  opacity: 0;
  transform: translateX(100%);
  filter: blur(5px);
  transition: all 2s ease-in-out;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.sec3-content:nth-child(2) {
  transition-delay: 300ms;
}
.sec3-content:nth-child(3) {
  transition-delay: 500ms;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.popup {
  font-size: 0.9em;
  position: fixed;
  width: 55%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 1.5em;
  padding: 20px;
  border-radius: 30px;
  opacity: 0;
  transition: 0.5s all ease;
}
.popup.menu {
  background: rgb(24, 58, 29);
  background: linear-gradient(
    63deg,
    rgba(24, 58, 29, 1) 30%,
    rgba(240, 160, 75, 1) 73%
  );
}
.popup.cocktail {
  background: rgb(24, 58, 29);
  background: linear-gradient(
    218deg,
    rgba(24, 58, 29, 1) 24%,
    rgba(172, 68, 37, 1) 87%
  );
}
.popup.rooms {
  margin-top: 0;
  margin-bottom: 2em;
  background: rgb(24, 58, 29);
  background: linear-gradient(
    307deg,
    rgba(24, 58, 29, 1) 24%,
    rgba(53, 87, 100, 1) 77%
  );
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  max-height: 90vh;
  width: 90%;
  overflow: hidden;
}

.slides {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
form.suite-form,
form.jrsuite-form,
form.superior-form {
  padding: 3% 10% 0 5%;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 30px;
}

.one-slide {
  grid-row: 1;
  grid-column: 1;
  opacity: 0;
  z-index: 0;
}
span.bedroom-info {
  height: 90px;
  font-size: 0.8em;
  text-align: center;
}

.one-slide.is-active {
  opacity: 1;
  z-index: 1;
}
.naviagtion {
  padding: 0 10% 0 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.image-change-suite {
  margin: 0 3em 0 2em;
  width: 400px;
  height: 300px;
  aspect-ratio: 16/9;
  background-image: url(images/suite1.jpg);
  background-position: center;
  background-size: cover;
  opacity: 1;
  transition: 0.5s all ease;
}
.image-changed-suite {
  margin: 0 3em 0 2em;
  width: 400px;
  height: 300px;
  aspect-ratio: 16/9;
  background-image: url(images/suite2.jpg);
  background-position: center;
  background-size: cover;
  opacity: 1;
  transition: 0.5s all ease;
}

.image-change-jrsuite {
  margin: 0 3em 0 2em;
  width: 400px;
  height: 300px;
  aspect-ratio: 16/9;
  background-image: url(images/jrsuite1.jpg);
  background-position: center;
  background-size: cover;
  opacity: 1;
  transition: 0.5s all ease;
}
.image-changed-jrsuite {
  margin: 0 3em 0 2em;
  width: 400px;
  height: 300px;
  aspect-ratio: 16/9;
  background-image: url(images/jrsuite2.jpg);
  background-position: center;
  background-size: cover;
  opacity: 1;
  transition: 0.5s all ease;
}
.image-change-superior {
  margin: 0 3em 0 2em;
  width: 400px;
  height: 300px;
  aspect-ratio: 16/9;
  background-image: url(images/superior1.jpg);
  background-position: center;
  background-size: cover;
  opacity: 1;
  transition: 0.5s all ease;
}
.image-changed-superior {
  margin: 0 3em 0 2em;
  width: 400px;
  height: 300px;
  aspect-ratio: 16/9;
  background-image: url(images/superior2.jpg);
  background-position: center;
  background-size: cover;
  opacity: 1;
  transition: 0.5s all ease;
}

.popup h3,
.popup span {
  align-self: flex-start;
}
.popup h2 {
  padding: 0;
}
.popup i.popup-navi {
  font-size: 2rem;
  /* margin: 0 0 0 90%; */
  cursor: pointer;
}
.popup i.close-popup:not(.popup-navi) {
  font-size: 2rem;
  margin: 0 0 0 90%;
  cursor: pointer;
}

.img-date {
  display: flex;
  flex-direction: row;
}
.date-person {
  padding: 3% 0 0 5%;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 30px;
}
form.suite-form,
form.jrsuite-form,
form.superior-form {
  font-size: 1.4rem;
}
input[name="people-count"] {
  width: 35%;
  background: transparent;
  border: 1px solid #edf1d6;
  border-radius: 3px;
  font-size: 1.2rem;
  color: #edf1d6;
  cursor: pointer;
  padding: 3px;
}
input#jrsuite-people-count {
  width: 10%;
  text-align: center;
}
input[name="daterange"],
input[name="reservation-name"] {
  background: transparent;
  box-shadow: none;
  color: #edf1d6;
  border: 1px solid #edf1d6;
  padding: 3px;
  font-size: 1.2rem;
  border-radius: 2px;
  height: 2rem;
}
input[name="reservation-name"] {
  font-size: 1.08rem;
}

input[name="reserve-btn-suite"],
input[name="reserve-btn-jrsuite"],
input[name="reserve-btn-superior"] {
  background: transparent;
  box-shadow: none;
  color: #edf1d6;
  border: 3px solid #edf1d6;
  border-radius: 6px;
  padding: 3px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}
input[name="reserve-btn-suite"]:hover,
input[name="reserve-btn-jrsuite"]:hover,
input[name="reserve-btn-superior"]:hover {
  background: #862b0d;
  border: 3px solid #862b0d;
}

.visible {
  opacity: 1;
  z-index: 1;
}

.sec4-opinions {
  margin: 0em 0.5em 4em 2em;
  display: flex;
  flex-direction: row;
  font-weight: 200;
  color: #edf1d6;
  font-size: 0.9em;
  align-items: center;
  justify-content: space-between;
}
.lux-lifestyle-mag,
.best-hotel-reviews,
.hotels-mag {
  margin: 0px 5px 0px 5px;
  padding: 5px;
  border: #edf1d6 3px solid;
  border-radius: 8px;
}
h2#opinions {
  color: #edf1d6;
  font-size: 2em;
  text-decoration: underline;
  text-underline-offset: 6px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0 0 1.5em 2em;
}

p.sig {
  align-self: flex-end;
  font-weight: 400;
}

footer {
  padding-top: 3em;
  background-color: #99a98f;
  color: #edf1d6;
  min-height: 35vh;
  display: flex;
  justify-content: space-around;
}
footer h2 {
  font-size: 1.15em;
  text-decoration: underline;
  text-underline-offset: 6px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

footer .links {
  display: flex;
  flex-direction: column;
}
footer .contact {
  display: flex;
  flex-direction: column;
}
footer .contact i {
  padding-right: 5px;
  font-size: 1.15em;
}
.socials {
  margin-top: 0.25em;
  font-size: 1.4em;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 1220px) {
  .sec2 {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 900px) {
  .sec2 {
    font-size: 0.5rem;
  }
}
